# URL de connexion à la database PostgreSQL
DATABASE_URL=

# Clé secrète pour les sessions (à activer plus tard si besoin)
# SECRET_KEY=your_secret_key_here

# Clé API pour OpenWeatherMap
OPENWEATHER_API_KEY=

# Clé API pour OpenAgenda
OPENAGENDA_API_KEY=